<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Weight Tracker</title>
</head>
<body>
    <div class="row d-flex vh-100 align-items-center justify-content-center">
        <div class="col-10">
            <div class="container bg-white rounded">
                <h1 class="fw-bold d-flex justify-content-center pt-5">Weight Tracker</h1>
                <br>
                <div class="d-flex justify-content-center pb-5">
                    <a href="http://127.0.0.1:8000/wt/signup/" class="btn btn-primary" role="button">Signup</a>
                    <p class="text-white">.....</p>
                    <a href="http://127.0.0.1:8000/wt/login/" class="btn btn-primary" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>